:root {
  --white: #FFFFFF; /*font color and ligth section color*/
  --gray: #3E3D3D; /*font color and dark section color*/
  --light-gray: #666666; /*CopyRigths section*/
  --light-brown: #A3826C; /*Bottoms and slide arrows*/
  --beige: #BEBCB1; /*header menu*/

}
body{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(137, 137, 137);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.adopt {
  display: flex;
  gap: 5%;
  height: 100vh;
}
.petsContainer {
  display: flex;
  gap: 3%;
  flex-wrap: wrap;

}

.petCard {
  width: 15vw;
  min-width: 100px;
  height: fit-content;
  padding: 1rem ;
  cursor: pointer;
}
.petCard:hover {
  transform: translate(0, 5px);
  -webkit-box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.5);
}

.petCard img{
  border: solid 1px var(--gray);
  border-radius: 25%;
  width: 100%;
}

.petPropierties {
  display: flex;
  justify-content: space-between;
}

.petPropierties div {
  display: flex;
  flex-direction: column;
}

.filterContainer {
  width: 10vw;
}
.filterContainer div{
  display: flex;
  flex-direction: column;
}
.filterContainer span {
  display: flex;
}