:root {
  --white: #FFFFFF; /*font color and ligth section color*/
  --gray: #3E3D3D; /*font color and dark section color*/
  --light-gray: #666666; /*CopyRigths section*/
  --light-brown: #A3826C; /*Bottoms and slide arrows*/
  --beige: #BEBCB1; /*header menu*/
  --black: #000;

}
body{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0%;
  margin: 0%;
}

.slider{
  background-image: url('../assets/styles/sources/headerPicture1.jpg');
  background-size: cover;
  background-position: center;
  height: 49vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: auto;
  opacity: 50%;
}
.content {
  display: flex;
  transform: translateY(50vh);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.slider h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.slider p {
  font-size: 20px;
  margin-bottom: 30px;
}

.slider button {
  font-size: 20px;
  padding: 10px 30px;
}