:root {
  --white: #ffffff;
  /*font color and ligth section color*/
  --gray: #3e3d3d;
  /*font color and dark section color*/
  --light-gray: #666666;
  /*CopyRigths section*/
  --light-brown: #a3826c;
  /*Bottoms and slide arrows*/
  --beige: #bebcb1;
  /*header menu*/
  --black: #000;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow: overlay;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  overflow: overlay;
}

*::-webkit-scrollbar {
  width: 12px;
  /* background-color: #F5F5F5; */
  background: transparent;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #909090;
}

/* alerts */
.alert {
  position: fixed;
  top: 10vh;
  left: 50%;
  width: 500px;
  z-index: 3;
  transform: translateX(-50%);
  padding: 15px;
  border-radius: 15px;
  background: rgb(231 57 57);
  text-align: center;
  animation: alert 1s linear;
  font-size: 1.2rem;
  font-weight: 500;
}
@keyframes alert {
  from {
    top: -10px;
  }
  to {
    top: 10vh;
  }
}

/* Header and HomePageHeader */

.Header {
  background-image: url("../images/headerPicture1.png");
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.Header .topnav {
  margin-left: 5%;
}
.Header > a:first-child {
  width: 153px;
  margin-left: 10vw;
}
.Header .topnav a {
  width: 5vw;
}
.Header .Logo {
  width: 100%;
  opacity: 90%;
}

.homeHeader {
  background-image: url("../images/headerPicture1.png");
  background-size: cover;
  background-position: center;
  height: 49vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.navBar {
  display: flex;
  align-items: center;
}
.navBar .topnav {
  margin-left: 5%;
}
.navBar .Logo {
  width: 11%;
  margin-left: 7%;
  opacity: 90%;
}

.background {
  width: 100%;
  height: auto;
}

/* HomePageHeader */

.homeHeader {
  background-image: url("../images/headerPicture1.png");
  background-size: cover;
  background-position: center;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10%;
  color: #000000;
}

.heading {
  font-size: 36px;
  margin: 30px 0 0 0;
  line-height: 1.2rem;
}

.homeHeader p {
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 90%;
}

/* NavBar Menu */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #bebcb1;
  overflow: hidden;
  opacity: 95%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 8px 50px;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #b4b2ad;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #666666;
  color: white;
}

/* AboutUs HomePage Section */
.aboutUs {
  background-color: #3e3d3d;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  overflow: hidden;
}

.aboutUs img {
  position: relative;
  right: 23%;
  opacity: 65%;
  transform: scale(0.22, 0.22) translateX(-10%);
  border-radius: 100%;
}

.aboutUsContent {
  position: absolute;
  top: 53vmin;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 41%;
  color: #ffffff;
}

.aboutUsContent h1 {
  font-size: 36px;
  margin-bottom: -20px;
}

.aboutUsContent h2 {
  font-size: 24px;
  opacity: 85%;
  margin-bottom: -20px;
}

.aboutUsContent p {
  font-size: 18px;
  margin-bottom: 2px;
  opacity: 70%;
}
.aboutUsContent a {
  padding-top: 3%;
}

/* Sponsors Section */

.Sponsors {
  background-color: var(--beige);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.sponsorImg {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.sponsorImg img {
  width: 15%;
  border-radius: 100%;
}

/* Fotter Section */

.Fotter {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.fotterContactUs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
}

.fotterContactUs h1 {
  font-size: 24px;
  margin-bottom: -23px;
  margin-top: 7px;
}

.fotterContactUs h2 {
  font-size: 14px;
  margin-bottom: 5px;
}

.fotterLogo {
  width: 20vw;
  display: flex;
  align-items: center;
}
.filterLogo div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.fotterLogo img {
  width: 30%;
}
.fotterLogo div span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fotterLogo div span p {
  font-weight: 700;
  padding-left: 10px;
  margin: 0;
}

.linkedin {
  color: #056dfa;
}

.github {
  color: #6e5494;
}

.copyRights {
  background-color: #666666;
  height: 2vh;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.sponsorImg {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.sponsorImg img {
  width: 15%;
  border-radius: 100%;
}

/* Fotter Section */

/* .Fotter{
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.fotterContactUs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
}

.fotterContactUs h1{
  font-size: 24px;
  margin: 0;
  margin-bottom: 6px;
}
.copyRights p {
  margin: 0;
  font-size: .9rem;
  font-weight: 600;
  font-style: italic;
} */

.fotterContactUs h2 {
  font-size: 14px;
}

.fotterContactUs button {
  margin-left: -7px;
}

.fotterLogo {
  width: 20vw;
  display: flex;
  align-items: center;
}
.filterLogo div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.fotterLogo img {
  width: 30%;
}
.fotterLogo div span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fotterLogo div span p {
  font-weight: 700;
  padding-left: 10px;
  margin: 0;
}

.linkedin {
  color: #056dfa;
}

.github {
  color: #6e5494;
}

.copyRights {
  background-color: #666666;
  height: 2vh;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.copyRights p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
  font-style: italic;
}

/* Adopt page */
.adopt {
  display: flex;
  height: 99vh;
}

/* Display animals */
.adopt,
.profileContainer {
  background-color: var(--beige);
  padding-top: 2%;
}

.petsContainer {
  display: grid;
  gap: 3%;
  padding: 0 2%;
  margin: 0 2%;
  width: 100%;
  max-height: 98vh;
  overflow: auto;
  border-radius: 25px;
}

.petsContainer:hover {
  overflow: auto;
}

@media screen and (min-width: 1160px) {
  .petsContainer {
    grid: auto-flow/ repeat(4, 1fr);
  }
}

@media screen and (max-width: 1159px) {
  .petsContainer {
    grid: auto-flow/ repeat(2, 48%);
  }
}

.petCard {
  min-width: 180px;
  padding: 1rem;
  cursor: pointer;
  border-radius: 25px;
  /* border: 1px solid var(--beige); */
  transform: translate(0, 5px);
  -webkit-box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.5);
  background-color: darkslategray;
  max-height: fit-content;
  height: fit-content;
}

.petCard:hover {
  border: 5px solid rgb(216 217 58 / 66%);
  transform: translateY(10px);
}

.petCard img {
  width: 100%;
  height: 315px;
  border-radius: 25px;
  object-fit: cover;
}

.petCard p {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
  color: var(--white);
}

.petPropierties {
  display: flex;
  justify-content: space-between;
  color: var(--beige);
}

.petPropierties span {
  font-weight: 400;
  font-size: 1.1rem;
  padding: 2px;
}

.petPropierties div {
  display: flex;
  flex-direction: column;
}

/* filter */
.filterContainer {
  width: 15vw;
  max-width: 220px;
  min-width: 150px;
  height: 99vh;
  padding-left: 1%;
  display: flex;
  flex-direction: column;
}

.filterContainer h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2rem;
}

.filterContainer h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 0rem;
}

.filterContainer label {
  font-size: 1.2rem;
  font-weight: 400;
}

.filterContainer div {
  display: flex;
  flex-direction: column;
}

.filterContainer div section label {
  padding-left: 7px;
}

.filterContainer .animalType {
  display: flex;
  justify-content: space-between;
  max-height: 30px;
}

.filterContainer .animalType i {
  cursor: pointer;
  transform: translateY(50%);
}

.filterContainer .breed {
  padding-left: 30%;
}

/* .breedsContainer{
  opacity: 0;
  height: 0;
  transition: all 1s;
}
.fadeIn {
  opacity: 1;
  height: 100%;
} */
/* Define los estilos para la animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
    max-height: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
    max-height: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
    max-height: 200px;
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
    max-height: 0;
  }

  100% {
    transform: rotate(0deg);
  }
}
.submitButton {
  position: relative;
  left: 78%;
  margin-bottom: 2%;
}

/*DISEÑO DE LA PAGINA DE PERFIL*/

.filterContainer.profile {
  width: auto !important;
  margin-left: 9%;
}
.profileFilterContainer div {
  display: flex;
  flex-direction: column;
}
.btnPrimaryPerfil {
  text-align: center;
  width: 150px;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #bebcb1;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btnPrimaryPerfil:hover {
  background-color: #bebcb1;
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
  color: #fff;
}

.profileContainer {
  display: flex;
}

.bloque-info {
  margin: 0 5% 0 5%;
  width: 70%;
}
.infoContainer {
  backdrop-filter: blur(11px) saturate(200%);
  -webkit-backdrop-filter: blur(11px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  padding: 20px;
  margin-left: 7.8%;
  border: 1px solid black;
  width: 75%;
}
.infoContainer > .user-details {
  display: flex;
  justify-content: center;
}
.infoContainer > .user-details div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail {
  padding: 10px 10%;
}
.detail span {
  font-size: 1.5rem;
  font-weight: 600;
}
.detail p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding-left: 30px;
}
/* edit container */
.user-details-registro {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}
.input-box-registro {
  width: 40%;
}
.input-box-registro .details-registro {
  font-weight: 500;
}
/* pets edit container */
.petsProfileContainer {
  display: flex;
  flex-wrap: wrap;
}
.petDisplay {
  display: flex;
  margin-bottom: 3%;
}
.petDisplay img {
  width: 25%;
  border: 3px solid;
  border-radius: 70px;
}
.petDisplay .petInfo {
  margin-left: 2%;
  width: 45%;
}
.petDisplay .petInfo li {
  font-size: 1.5rem;
}
.petDisplay .petInfo li span {
  font-weight: 700;
}

.petDisplay .petInfo h1:first-child {
  font-size: 3rem;
  line-height: 1rem;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.petInfo h2 {
  margin-top: 5px;
  margin-bottom: -1px;
}
.petDisplay .petInfo button {
  position: relative;
  top: 5%;
  left: 82%;
}
.petDisplay .petInfo h1:nth-child(3) {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.petDisplay .petInfo p {
  font-size: 1.4rem;
  font-weight: 400;
}
/*DISEÑO DEl BOTON LOGOUT*/
.btnPrimaryPerfilLogout {
  text-align: center;
  width: 150px;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: var(--light-brown);
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btnPrimaryPerfilLogout:hover {
  background-color: var(--light-brown);
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
  color: #fff;
}

/* Aplica los estilos a la lista de inputs */
.breedsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Aplica la animación de entrada */
.breedsContainer.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

/* Aplica la animación de salida */
.breedsContainer.fadeOut {
  animation: fadeOut 0.5s ease-in-out;
}

/* Aplica la transición de opacidad durante la animación */
.breedsContainer.fadeIn,
.breedsContainer.fadeOut {
  transition: opacity 0.5s ease-in-out;
}

/* Insert pet button */
.insertButton {
  position: fixed;
  bottom: 4%;
  left: 3%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  transition: background-color, color 1.5s ease;
  cursor: pointer;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.insertButton:hover {
  background-color: var(--light-brown);
  color: var(--white);
}
.insertButton:active {
  transform: translateY(5px);
}

.insertButton .fa-paw {
  font-size: 4rem;
}
.insertButton .fa-plus {
  position: absolute;
  margin-top: 20px;
  filter: invert(100%);
  font-size: 1rem;
}

/* pop up */
.popUpBackground {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1;
}

.popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--beige);
  /* box-shadow: 0 0 30px rgb(0, 0, 0,.5); */
  border-radius: 25px;
  z-index: 2;
  animation: showPopUp 0.8s ease;
}

@keyframes showPopUp {
  from {
    transform: translate(-50%, -50%) scale(0);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.popUp i {
  position: absolute;
  top: 10px;
  right: 1.3rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.popUp i:hover {
  color: #bebcb1;
  transform: translateY(3px);
}

.popUp.petPopUp {
  width: 70vw;
  max-width: 1000px;
  display: flex;
  min-height: 541px;
}

.pet {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}

.pet img {
  width: 50%;
  max-height: 580px;
  border: 3px solid;
  margin: 3%;
  border-radius: 70px;
}
.pet .petInfo {
  display: flex;
  flex-direction: column;
  margin-right: 3%;
  width: 100%;
  height: 100%;
}
.pet .petInfo h1 {
  font-size: 3rem;
  line-height: 1rem;
  letter-spacing: 3px;
  margin-top: 12%;
}

.pet .petInfo ul {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: x-large;
}
.pet .petInfo ul li span {
  font-weight: 600;
}
.pet .petDescription h1 {
  margin-top: 7%;
  font-size: 2rem;
  line-height: 1rem;
}
.pet .petDescription p {
  font-size: 1.2rem;
  font-weight: 400;
  max-height: 205px;
  overflow: auto;
}
.pet .btnPrimary {
  position: relative;
  width: 100%;
  bottom: 1%;
}

/* Adopt Button */

.btnPrimary {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: var(--light-brown);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btnPrimary:hover {
  background-color: var(--light-brown);
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btnPrimary:active {
  transform: translateY(-1px);
}

/* insert form pop up */
.popUp.insertPet h1 {
  font-weight: 600;
  font-size: 2.5rem;
  padding-left: 10%;
}
.popUp .insertForm {
  display: flex;
  flex-direction: column;
  width: 70vw;
  max-width: 1000px;
  max-height: 80vh;
  overflow: auto;
  transition: height 0.2;
}
.insertForm > div {
  display: flex;
  gap: 10%;
  margin: 0 10%;
}
.insertForm > div > span {
  width: 50%;
  margin-top: 2%;
}
.insertForm div:last-child {
  margin-top: 5px;
}
.insertForm > div span select,
.insertForm > div span input,
.insertForm > div span textarea {
  width: 100%;
}

.insertForm label,
.insertForm input,
.insertForm select {
  font-size: 2rem;
  font-weight: 200;
}

.insertForm input,
.insertForm select {
  border-radius: 15px;
}
.insertForm textarea {
  font-size: 1rem;
  resize: none;
}

.fileButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.fileButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 16px;
  gap: 8px;
  width: 128px;
  border: none;
  background: #683a0627;
  border-radius: 20px;
  cursor: pointer;
}

.lable {
  margin-top: 1px;
  font-size: 19px;
  line-height: 22px;
  color: var(--black);
  font-family: sans-serif;
  letter-spacing: 1px;
}

.fileButton:hover {
  background: #6b3c05ad;
}

.fileButton:hover .svg-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
.submitButton {
  position: relative;
  left: 77%;
  margin-bottom: 2%;
}
